/* Css reset   */

* {
    margin: 0;
    padding: 0;
    /* background-color: aquamarine; */
}

/* Variable declaraation */
:root {
    --navbar-height: 60px;
}
html{
    scroll-behavior: smooth;
}

/* navigation bar  */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* logo and image  */
#logo {
    margin: 10px 20px;

}

#logo img {
    height: 45px;
    border-radius: 100%;
    margin: 2px 10px;
}

/* navigation list design  */
#navbar ul {
    display: flex;

}

#navbar::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 20px;
    border-radius: 12px;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* section part css  */

#home {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 2px 20px;
}

#home::before {
    content: "";
    position: absolute;
    background: url("/img/background/2.jpg") no-repeat center/cover;
    height: 100%;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    padding: 230px 0 0 0;

}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 6px;
}

.btn:hover {
    /*#home */
    color: black;
    background-color: white;
}

/* service center  */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    font-family: 'Aboreto', cursive;
    border: 2px solid black;
    margin: 3px 12px;
    padding: 34px;
    border-radius: 28px;
    background-color: aliceblue;
    box-shadow: 7px 5px 35px darkorange;
}

#services .box img {
    /* height: 160px; */
    margin: auto;
    display: block;
    border-radius: 20px;
}

/* clients section  */
#client-section {
    height: 344px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url("../img/background/6.jpg");
    z-index: -1;
    width: 100%;
    height: 48%;
    opacity: 0.65;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-iteam {
    padding: 34px;
}

#clients img {
    height: 180px;
    border-radius: 100%;
}

/* contact section  */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    background: url("../img/background/contact.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;

}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.6rem;
    border-radius: 12px;
    box-shadow: 6px 8px 16px 3px black;
}

#contact-box form {
    width: 40%;
 
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Aboreto', cursive;

}

.form-group {
    margin: 15px;
    padding: 4px;
}

footer {
    font-family: 'Aboreto', cursive;
    background-color: rgb(113, 59, 77);
    color: rgb(232, 218, 184);
    padding: 9px 16px;
    height: 40px;
    font-size: 1.2rem;
}

/* utility classes */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;

}

#h {
    padding: 286px 0 5px 0;
}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
}

.btn {
    padding: 7px 12px;
    background-color: brown;
    border-radius: 10px;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border: 2px solid white;
    cursor: pointer;
}

.center {
    text-align: center;
}